<style type="text/css">
  #dropArea{background:#f5f5f5;line-height:400px;text-align:center;display:block;height:400px;width:400px;}
  #filename{background:#eaeaea;margin:4px 0;width:400px;height:40px;}​
  #fi{width:200px;height:50px;background:blue;}
</style>
<script type="text/javascript">
  var MAX_BYTES = 102400; // 100 KB

  function dragEnter(event) {
    console.log('dragEnter', event);
    event.stopPropagation();
    event.preventDefault();
  }

  function dragExit(event) {
    console.log('dragExit', event);
    event.stopPropagation();
    event.preventDefault();
  }

  function dragOver(event) {
    console.log('dragOver', event);
    event.stopPropagation();
    event.preventDefault();
  }

  function drop(event) {
    
    console.log('drop', event);
    event.stopPropagation();
    event.preventDefault();
    
    var data = event.dataTransfer;
    var files = data.files;
    var file;
    var reader;
    
    for(var i = 0; i < files.length; i++) {
      file = files[i];
      console.log(file, file.fileName);
      reader = new FileReader();
      reader.onloadend = onFileLoaded;
      reader.readAsDataURL(file)
    }
  }

  function onFileLoaded(event) {
    console.log('onFileLoaded', event);

    var pimg = document.getElementById("preview");
    pimg.src = event.currentTarget.result;
  }
  $(function(){
    var dropArea = $("#dropArea").get(0);
    dropArea.addEventListener("dragenter", dragEnter, false);
    dropArea.addEventListener("dragexit", dragExit, false);
    dropArea.addEventListener("dragover", dragOver, false);
    dropArea.addEventListener("drop", drop, false);

    $("#fi").change(function (){
      var fileName = $(this).val();
      $(".filename").html(fileName);
    });
  });
</script>
<div id="dropArea">DROP FILE HERE</div>
<input type="file" id="fi"/>
<img src="" id="preview" />